extends layout

block content

  h1 Passport Test


  if user

    div
      h2 #{user.name} Welcome!

    div
      a(href='/users/logout') Logout

  else
    a(href='/signin') Login 
    a(href='/signup') Signup


