extends layout

block content
  div.form-box
    form(action="/" + link, method="post")
      input#email(name='email', type='email', placeholder='input email')
      input#password(name='password', type='password', placeholder='input pw')

      if link=='users/signup'
        input#name(name='name', type='name', placeholder='input name')

      button(type='submit') #{title}
    
    #{message}
    if message.length > 0
      div.alert.alert-warning(role='alert')
        strong #{message}
